@model Bib2.Models.Lecturas

<div class="form-horizontal">
    <div class="form-group" align="center">
        <h2>@Model.titulo</h2>
    </div>
    <div class="form-group  blockcomentario" style="margin:17px;font-size: 24px;" align="center">
        @Model.comentario
    </div>
</div>
