@model List<Bib2.Models.mlib>
<script type="text/javascript" src="~/scripts/ToolsJquery.js"></script>
<div class="form-horizontal" style="padding:10px; background-color: whitesmoke">
    <div class="form-group" style="padding:15px">
        <h4>Libros Autor</h4>

        @if (Model.Count > 0)
        {
            <div class="form-group">

                <div class="col-md-12 align=" center"">
                    <table id="Tlib" style="width:95%; border:thin" align="center">
                        <tr>
                            <th style="text-align:center">Título</th>
                        </tr>
                        @foreach (Bib2.Models.mlib libro in Model)
                        {
                            <tr>
                                <td style="text-decoration:none">
                                    @Html.DisplayFor(modelItem => libro.titulo)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2>No hay libros asociados ¿?</h2>
        }
    </div>
</div>
